a {
	margin-right: 20px;
	font-size: 30px;
	
}

a:hover {
	color: orange;
}

nav {
	
	margin-bottom: 30px;
	width: 100%;
	height: 75px;
	text-align: center;
	background-image: url("./images/flag_banner.png");
	opacity: 0.75;
	padding-top: 30px;
	
}